<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androiders.walknearn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider2041768342704216"
            android:exported="true" />

        <activity android:name=".AskingPermissionsActivity" />
        <activity
            android:name=".CouponActivity"
            android:label="Coupons" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_settings" />
        <activity
            android:name=".PasswordChangeActivity"
            android:label="@string/action_change_password" />
        <activity
            android:name=".DisplayNameChangeActivity"
            android:label="@string/action_change_name" />
        <activity android:name=".ForgotPasswordActivity"
            android:label="Forgot Password" />
        <activity android:name=".UpdateForgotPasswordActivity"
            android:label="Update Password" />
        <activity android:name=".FeedbackActivity"
            android:label="Feedback" />
        <activity android:name=".CouponDetailsActivity"
            android:label="Coupons" />
        <activity android:name=".CouponTypeActivity"
            android:label="Coupons" />
    </application>

</manifest>